@font-face {
    font-family: 'IRANSans';
    src: url('~public/assets/fonts/IRANSansWeb.woff2') format('woff2'),
    url('~public/assets/fonts/IRANSansWeb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    direction: rtl;
    font-family: 'IRANSans', sans-serif;
}
